.grid {
  --local-grid-column: span 12;

  @media (width > 600px) {
    display: contents;
  }

  & > * {
    grid-column: var(--local-grid-column);

    @media (width > 600px) {
      --local-grid-column: span 6;
    }
  }
}
