.product {
  background: var(--hwb-grey-1);
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.content {
  --local-padding: var(--spacing);


  padding: var(--local-padding);
  
  @media (width > 600px) {
    --local-padding: var(--padding);
  }

  & h3 {
    margin: 0;
    font-weight: 900;
  }
  & p {
    margin: 0;
  }
}

.image {
  width: 100%;
  height: auto;

  @media (width > 600px) {
    --local-display: block;
  }
}
